body {
    margin: 0;
    color: white;
    background-color: #0e0e0e;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Cabecera */
header {
    background-image: url(./imagenes/HollowKnightMain.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

menu {
    background: linear-gradient(black 65%, #ffffff00 100%);
    padding: 1rem;
    height: 4.5rem;
    margin: 0;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}

.menu {
    background-color: #1d1d1d;
    border-radius: .5rem;
    padding: 1rem;
    width: 5.5rem;
    height: 1.5rem;
    text-align: center;
    align-content: center;
}

img.inicio {
    height: 100%;
    margin-right: auto;
}

.hero {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 0 .5rem #070707;
}

h1.titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

.hero p {
    font-size: 1.2rem;
}

button {
    padding: .8rem 1.2rem;
    border-radius: .5em;
}

button.iniciar {
    background-color: #dd2929;
    color: white;
}

/* Cuerpo */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}


.contenido {
    width: 70rem;
}

.grid {
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f";
    gap: 2rem;
}

.features {
    border: solid .1rem white;
    border-radius: 1rem;
    padding: 2.5rem;
    width: 17rem;
}

#feature1 {
    grid-area: "a";
}

#feature2 {
    grid-area: "b";
}

#feature3 {
    grid-area: "c";
}

#feature4 {
    grid-area: "d";
}

#feature5 {
    grid-area: "e";
}

#feature6 {
    grid-area: "f";
}

/* About us*/
.nosotros {
    width: 50rem;
    margin: 2rem auto;
}

.nosotros h1 {
    text-align: center;
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.tiers {
    padding: 1.5rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

button.comprar {
    background-color: greenyellow;
}

.tiers ul {
    list-style: none;
}

.tiers li {
    position: relative;
    padding-left: 30px;
    line-height: 1.4;
}

.tiers li.incluido::before {
    content: "✔";
    color: #2ecc71;
    position: absolute;
    left: 0;
    font-weight: bold;
}

#basico {
    background-color: rgb(255, 165, 165);
}

#intermedio {
    background-color: #4d4d4d;
    color: white;
    border: solid .1rem white;
}

#premium {
    background-color: white;
    color: black;
    box-shadow: 0 0 1rem 0 white;
}

/* Pie de página */
footer {
    background-color: #070707;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}